snippet main "main" bwA
using namespace std;

int main()
{
	$0
}
endsnippet

snippet leet "leetcode temp" bwA
using namespace std;

class Solution {
public:
	$0
};

int main()
{
	Solution s;
}
endsnippet
